{% extends 'newsharborapp/base.html' %}

{% block title %}
   Editor Panel
{% endblock %}
    
{% block content %}

<form method="get">
  <div class="article-select-label">
      <div class="article-select-filter-cell">
          <h4>Author</h4>
          <select name="author">
              <option value="">All Authors</option>
              {% for author in editors %}
                  {% if author.id|stringformat:"s" == selected_author %}
                      <option value="{{ author.id }}" selected>{{ author }}</option>
                  {% else %}
                      <option value="{{ author.id }}">{{ author }}</option>
                  {% endif %}
              {% endfor %}
          </select>
      </div>
      <div class="article-select-filter-cell">
          <h4>For Display</h4>
          <select name="display_status">
              <option value="">All</option>
              <option value="displayed" {% if selected_display_status == 'displayed' %} selected {% endif %}>Displayed</option>
              <option value="hidden" {% if selected_display_status == 'hidden' %} selected {% endif %}>Hidden</option>
          </select>
      </div>
      <div class="article-select-filter-cell">
        <h4>Published</h4>
        <select name="pub_period">
            <option value="">Anytime</option>
            {% for period in pub_periods %}
                {% if period == selected_pub_period %}
                    <option value="{{ period }}" selected>{{ period }}</option>
                {% else %}
                    <option value="{{ period }}">{{ period }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
  </div>
  <button style="font-size: 100%; padding:2px; width:30%;" class="custom-button-dark" type="submit">Filter</button>
</form>

{% for article in articles %}
<a href="{% url 'newsharborapp:article-edit' article.id %}" class="article-cell-box">
   <img src="{{ article.photo.url }}" alt="{{ article.photo }}">
   <p>{{article}}</p>
   <span style="margin-left: 50%;">{{article.pub_date}}</span>
   <span style="top:90%;">{{article.author}}</span>
   {% if article.for_display %}
     <span>For display</span>
   {% else %}
     <span>Hidden</span>
   {% endif %}
</a>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page=1{% if selected_author %}&author={{ selected_author }}{% endif %}{% if selected_display_status %}&display_status={{ selected_display_status }}{% endif %}{% if selected_pub_period %}&pub_period={{ selected_pub_period }}{% endif %}">&laquo; first</a>
            <a href="?page={{ articles.previous_page_number }}{% if selected_author %}&author={{ selected_author }}{% endif %}{% if selected_display_status %}&display_status={{ selected_display_status }}{% endif %}{% if selected_pub_period %}&pub_period={{ selected_pub_period }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}{% if selected_author %}&author={{ selected_author }}{% endif %}{% if selected_display_status %}&display_status={{ selected_display_status }}{% endif %}{% if selected_pub_period %}&pub_period={{ selected_pub_period }}{% endif %}">next</a>
            <a href="?page={{ articles.paginator.num_pages }}{% if selected_author %}&author={{ selected_author }}{% endif %}{% if selected_display_status %}&display_status={{ selected_display_status }}{% endif %}{% if selected_pub_period %}&pub_period={{ selected_pub_period }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<form method="post">
  {% csrf_token %}
  <button class="custom-button-dark" type="submit" name="action" value="create_article">Create new article</button>
</form>
{% endblock %}