{% extends 'newsharborapp/base.html' %}

{% block title %}
   Editor Panel
{% endblock %}
    
{% block content %}

<h1>{{article}}</h1>
<a href="{% url 'newsharborapp:article-select' %}">
   <button class="custom-button-dark" style="position:absolute; margin-left:10%; top:13%;">Edit other article</button>
</a>
{% if user.profile.is_editor_in_chief %}
   <h3>Changing this settings resets text</h3>
   <div style="display: flex;">
      {% if article.for_display %}
         <div class="article-edit-label">
            <h2>Article is set for display</h2>
            <form method="post">
               {% csrf_token %}
               <button class="article-edit-button" type="submit" name="action" value="set_hidden">Set Hidden</button>
            </form>
         </div>
      {% else %}
         <div class="article-edit-label">
            <h2>Article is set hidden</h2>
            <form method="post">
               {% csrf_token %}
               <button class="article-edit-button" type="submit" name="action" value="set_for_display">Set For display</button>
            </form>
         </div>
      {% endif %}
      <div class="article-edit-label">
         <h2 style="opacity: 0;">This should not appear</h2>
         <span>Author:</span>
         <form method="post">
            {% csrf_token %}
            <select name="author" id="author">
               {% for editor in editors %}
                  {% if editor.id == article.author.id %}
                     <option value="{{ editor.id }}" selected>{{ editor }}</option>
                  {% else %}
                     <option value="{{ editor.id }}">{{ editor }}</option>
                  {% endif %}
               {% endfor %}
            </select>
            <button class="article-edit-button"  type="submit" name="action" value="save_author">Save Author</button>
         </form>
      </div>
   </div>
{% endif %}

<div class="article-edit-panel-box">
   <div class="article-input-box">
      <form method="post">
         {% csrf_token %}
         <textarea class="lead-textarea" style="height:8%" name="title">{{ article.title }}</textarea>
         {% if not article.paragraphs.all %}
            <h2>There is no paragraphs yet.</h2>
            <button class="article-edit-button" style="margin-left: 50%; transform: translate(-50%);" type="submit" name="action" value="create_lead">Create lead paragraph</button>
         {% else %}
            {% for paragraph in article.paragraphs.all %}
               {% if forloop.first %}
                  <textarea class="lead-textarea" name="paragraph{{ paragraph.id }}" >{{ paragraph.text }}</textarea>
               {% else %}
                  <textarea class="common-textarea" name="paragraph{{ paragraph.id }}">{{ paragraph.text }}</textarea>
                  <button class="article-edit-button" style="margin-left: 50%; transform: translate(-50%);" type="submit" name="action" value="delete_paragraph_{{paragraph.id}}">Delete Paragraph</button>
               {% endif %}
            {% endfor %}
            <button class="article-edit-button" type="submit" name="action" value="create_another">Add Paragraph</button>
            <button class="article-edit-button" type="submit" name="action" value="save_paragraphs">Save Paragraphs</button>
            <button class="article-edit-button" type="reset">Reset</button>
         {% endif %}
      </form>
   </div>

   <div class="article-image-box">
      <h2>Images</h2>
      <h3>Click to unassign from article</h3>
      <h3>Assingning and Unassigning image resets text</h3>
      <form method="post">
         {% csrf_token %}
         {% for image in article.images.all %}
               <button class="article-image-box-image-button" type="submit" name="action" value="delete_image_{{image.id}}">
                  <img src="{{ image.photo.url }}" alt="Image">
               </button>
         {% endfor %}
         <a href="{% url 'newsharborapp:article-add-image' article.id %}">
            <button class="article-edit-button" class="article-image-box-click-button" type="button">Assing new image</button>
         </a>
      </form>
   </div>
</div>
{% endblock %}

