<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}News Harbor{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'newsharborapp/style.css' %}">
</head>

<header>
    <nav>
        <ul>
            <li><a href="{% url 'newsharborapp:home' %}">Homepage</a></li>
            <li><a href="{% url 'newsharborapp:info' %}">About us</a></li>
            <li><a href="{% url 'newsharborapp:info-api' %}">Api</a></li>
            {% if user.is_authenticated %}
            <form action="{% url 'newsharborapp:logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button  type="submit">Logout</button>
            </form>
            <li style="float:right; color:#fa7000;">Logged as: {{user}}</li>
            <li style="float:right;"><a href="{% url 'newsharborapp:profile' user.profile.id %}">Profile</a></li>
            {% if user.profile.is_editor %}
            <li style="float:right;"><a href="{% url 'newsharborapp:editor-panel' %}">Editor Panel</a></li>
            {% endif %}
            {% else %}
            <li><a href="{% url 'newsharborapp:login' %}">Login</a></li>
            <li><a href="{% url 'newsharborapp:register' %}">Register</a></li>
            <li style="float:right; color:#fa7000;">Logged as: Guest</li>
            {% endif %}
        </ul>
    </nav>
    
</header>
<body>
    {% block content %}{% endblock %}
</body>

</html>

