{% extends 'newsharborapp/base.html' %}

{% block title %}
   Editor Panel
{% endblock %}
    
{% block content %}

<h1>Editor Panel</h1>

<a href="{% url 'newsharborapp:article-select' %}">
   <button class="custom-button-dark" style="width: 30%;" type="button">Articles</button>
</a>

<a href="{% url 'newsharborapp:images' %}">
   <button class="custom-button-dark" style="width: 30%;" type="button">Images</button>
</a>

<a href="{% url 'newsharborapp:tags' %}">
   <button class="custom-button-dark" style="width: 30%;" type="button">Tags</button>
</a>

<form method="post">
   {% csrf_token %}
   <button class="custom-button-dark" style="width: 30%;" type="submit" name="action" value="create_article">Create new article</button>
</form>

{% if user.profile.is_editor_in_chief %}
<h1>Editor in Chief Panel</h1>
<a href="{% url 'newsharborapp:register-editor' %}">
   <button class="custom-button-dark" style="width: 30%;" type="button">Create new user</button>
</a>
{% endif %}


{% endblock %}