{% extends 'newsharborapp/base.html' %}

{% block title %}
   Images
{% endblock %}
    
{% block content %}

<div class="edit-tag-box">
    <span style="color:rgb(207, 245, 255);">Click on tag to remove it.</span>
    <h3>Tags</h3>
    <h3>Tags are keywords that allow you to find related articles simply by entering a tag in the search field.</h3>
    <form method="post" id="tagForm">
        {% csrf_token %}
        {% if image.tags.all %}
            {% for tag in image.tags.all %}
                <button class="article-edit-button" type="submit" name="action" value="delete_tag_{{tag.id}}">{{tag}}</button>
            {% endfor %}
        {% else %}
            <h4>No tags yet</h4>
        {% endif %}
        <h4>Provide tag or tags here. Separate tags with a comma to add multiple tags.</h4>
        <input name="tag_name" id="tagNameInput"></input>
        <button id="addTagButton" style="margin-left:50%; transform:translateX(-50%)" type="submit" name="action" value="add_tag">Add Tag</button>
    </form>
</div>

<div class="big-image-box"> 
    <img src="{{ image.photo.url }}" alt="{{ image.photo }}">
</div> 

<div class="profile-data-cell-box">
    <span>Image Name:</span>
    <b>{{image.name}}</b>
 </div>
 <div class="profile-data-cell-box">
    <span>Uploaded:</span>
    <b>{{image.date}}</b>
 </div>
<div class="profile-data-cell-box">
    <span>Belong to article:</span>
    {% for art in image.articles.all %}
        <p>{{art.title}}</p>
    {% endfor %}
 </div>



<a href="{% url 'newsharborapp:images' %}">
    <button class="custom-button-dark" style="width: 20%; margin-left: 2%; transform: translateX(0%);" type="button">See other</button>
</a>
<a href="{% url 'newsharborapp:image-rename' image.id %}">
    <button class="custom-button-dark" style="width: 20%; margin-left: 2%; transform: translateX(0%);" type="button">Rename</button>
</a>
<a href="{% url 'newsharborapp:image-assign' image.id %}">
    <button class="custom-button-dark" style="width: 20%; margin-left: 2%; transform: translateX(0%);" type="button">Assign</button>
</a>
<a href="{% url 'newsharborapp:image-delete' image.id %}">
    <button class="custom-button-dark" style="width: 20%; margin-left: 2%; transform: translateX(0%);" type="button">Delete</button>
</a>

<script>
    document.getElementById('tagNameInput').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault(); 
            document.getElementById('addTagButton').click(); 
        }
    });
</script>

{% endblock %}