{% extends 'newsharborapp/base.html' %}

{% block title %}
   About us
{% endblock %}
    
{% block content %}

<h5>The News Harbor</h5>

<h2>The News Harbor is a standout in the realm of online news websites, offering a blend of human and AI-generated content that keeps readers informed and engaged. As soon as you land on the homepage, you are greeted with a sleek and intuitive design that makes navigation a breeze.</h2>

<h2>This website is created for training purposes, and the news articles here are likely fictional. Please keep that in mind.</h2>

<h5>Website has been made by Dawid Łyczkowski</h5>
{% endblock %}